.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1EEE9;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 15px;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-links li a:hover {
    color: #ffd700; /* Change color on hover */
  }
  